@page
@{
    ViewData["Title"] = "API";
}

<h1>API</h1>

<pre>
    <code>
        {
        "product": {
        "id": 6,
        "name": "tesla"
        },
        "quantity": 13
        }
    </code>
</pre>
