@page
@{
    ViewData["Title"] = "Web";
}

<h4>Web</h4>

<p>
    Below are notes for the various menus on the web application. Each page from the menu has a <b>Filter</b> feature to enable you
    narraw down to specific items on the display. The filter uses wildcards so you can use parts of a keyword.
</p>
<p>
    Some products, orders, releases have already been seeded so you can click each of the menus to see what's already existing.
</p>

<h5>Products</h5>
<p>
    The repository comes stuffed with <b>5 products</b> and <b>3 product groups</b>. These are the products the inventory is being maintained for.
</p>
<p>
    To add more products to the repository, click the <b>New Product</b> link.
</p>

<h5>Orders</h5>
<p>
    This menu shows the list of all orders received in the warehouse. To introduce a new order to the inventory, you have to place an order using the
    <b>New Order</b> link.
</p>

<h5>Inventory</h5>
<p>
    Click on the Inventory menu to see a list of items on the Inventory and their positions and statuses. When an order has been received, 
    the quantity for the product increases on the inventory. When released to Sale, the quantity decreases.
</p>

<h5>Releases</h5>
<p>
    Use the Releases menu to release items to the sales team. You can only release an item that is <b>Instock</b>.
</p>