@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Welcome</h4>
</div>
<p>This is an attempt at satisfying the requirement of the Test Project. To fully examine the work done here, 
    please run this application.</p>
<p>
    The project source is available at GitHub, just clone it down to Visual Studio and run. 
    It is a .NET Core Web application and .NET Core API projects. Unit test is xUnit.
</p>

<h6>System Requirements</h6>
<ul>
    <li>
        .NET Core 3.1
    </li>
    <li>
        Visual Studio 2019
    </li>
    <li>
        Web Framework: Razor Pages (MVC)
    </li>
</ul>
<p>
    Click the <b>Help</b> menu above to get specific instruction and direction on how to best explore the features of the application.
</p>
